.index-container{
    background-color: #62DEC4;
}
.header{
    background-color: #2880B9;
}
.footer{
    background-color: #2880B9;
}

.p-index{
    color: #fff;
}
.col_menu{
    color: #fffff;
}

.btn-awal {
    display: block;
    margin: 0 auto;
    text-align: center;
color: #35CAB0;
background-color: #fff;
border-color: #35CAB0;
}
.panel-default>.panel-heading {
color: #fff;
background-color: #2880B9;
border-color: #fff;
}
.panel-default>.panel-body {
color: #fff;
background-color: #3498DB;
border-color: #fff;
}
.panel-default>.panel-footer {
color: #fff;
background-color: #2880B9;
border-color: #fff;
}